.Person {
    width: 60%;
    margin: 16px auto;
    border: 3px solid lightblue;
    box-shadow: 0 3repx 3px cyan;
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}